h1{
    color:red;
    text-align:center
}
 .item{
    border:solid
}  

.header{
    background-color: grey;
    display: flex;
    justify-content:space-between
}
.grid{
    display: flex;
    justify-content:space-evenly ;
    flex-wrap:wrap
}